<!doctype html>
<html>
<head>
  <title>Madlibs</title>
</head>
<body>
        <!--
        in form may need to alter the name="name"
    -->
    <h1>Madlibs Game</h1>

    <form action="/madlib">
        <label for="person_input">Person: </label>
        <input type="text" name="madlib" id="person_input" /><br><br>
       
        <label for="color_input">Color: </label>
        <input type="text" name="madlib" id="color_input" /><br><br>

        <label for="noun_input">Noun: </label>
        <input type="text" name="madlib" id="noun_input" /><br><br>

        <label for="adjective_input">Adjective: </label>
        <input type="text" name="madlib" id="adjective_input" /><br><br>

        <input type="submit">
    </form>



    
</body>
</html>